body
{
    background-color: lightcoral;
}

#score
{
    font-size: 20;
    margin-left: -1030px;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#timer
{
    font-size: 20;
    float:right;
    margin-right: 70px;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sketch_to_be_drawn
{
    color: deeppink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25;
}