body
{
    background-color: lightyellow;
}

h1
{
    color: white;
    background-color: lightcoral;
}

#show_sketches
{
    float: right;
}

p
{
    font-size: 20px;
    padding-top: 10px;
}

canvas
{
    border: 5px solid aliceblue;
    border-radius: 15px;
    animation-name: example;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 50px lightpink;}
    to{box-shadow: 1px 1px 50px gray;}
}